* text=auto
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.mjs text eol=lf
*.json text eol=lf
app/rel/overlays/bin/migrate text eol=lf
app/rel/overlays/bin/server text eol=lf
app/Dockerfile text eol=lf
*.sh text eol=lf
